.my-body-class .hidden {

}

.sort-direction-desc {
  background-image: url(images/grid/sort_desc.png);
  background-position: 4px center;
}

.sort-direction-asc {
  background-image: url(images/grid/sort_asc.png);
  background-position: 4px center;
}

.display-preview .x-panel-body div.display-data {
  background:#f1f2f4;
  padding:5px;
  border-top:1px solid #dadadb;
  border-bottom:1px solid #dadadb;
}

.display-preview .x-panel-body div.display-title
{
  font-size: 15px;
  font-weight: bold;
  color: #66ab16;
  padding: 0px 0px 0px 30px;
  background:transparent url(../../../Resources/images/CrystalClear/22x22/actions/news_subscribe.png) no-repeat 0 2px;
}

.display-preview .x-panel-body span.display-date {
  font-weight:normal;
  color:#555;
  float:right;
  font-size:11px;
}

.display-preview .x-panel-body div.display-author {
  font-weight:lighter;
  color:#555;
  font-size:11px;
  padding-left: 33px;
  margin-bottom: 10px;
}

.x-rtl .display-preview .x-panel-body span.display-date {
  float:left;
}

.display-preview .details {
  text-align: center;
  padding: 10px;
}

.display-preview .details-info {
  border-top: 1px solid #cccccc;
  font: 11px Arial, Helvetica, sans-serif;
  margin-top: 5px;
  padding-top: 5px;
  text-align: left;
}

.display-preview .details-info div.b {
  color: #555555;
  //display: block;
  //margin-bottom: 4px;
  //margin-left: 5px;
}

.display-preview .details-info div {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}

.display-preview .x-img {
  /*
  position: absolute;
  height: 98%;
  top: 0;
  left: 0
  */
}

@media screen and (orientation: portrait) {
  .display .x-img {
    max-width: 99%;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }
}

@media screen and (orientation: landscape) {
  .display .x-img {
    max-height: 99%;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }
}


