/**
*
**/
.images-medium-view {
  background-color: $main-tile-background;
  padding-left: 5px;
}

.images-medium-view .thumb {
  display: table-cell;
  background-color: $main-tile-background;
  //background: #dddddd;
  padding-left: 6px;
  //margin: 5px;
  vertical-align: middle;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.images-medium-view .thumb-wrap {
  display: table;
  float: left;
  width: 32.5%;
  min-width: 320px;
  height: 114px;
  //padding: 0px;
  margin: 4px;
  cursor: pointer;
}

.images-medium-view .thumb-title-container {
  //float: right;
  padding-top: 4px;
}

.images-medium-view .thumb-title {
  color: $main-font-dark-color;
  font-weight: $main-font-bold;
}

.images-medium-view .thumb-small {
  color: $main-font-color;
  font-size: $main-font-size-small-content;
  font-weight: $main-font-semibold;
}

.images-medium-view .thumb-icon {
  background-image: url(icons/pdf.png);
  //height: 64px;
  //width: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;

  .x-ie8 & {
    background-image: url(icons/pdf-small.png);
  }
}

.images-medium-view .thumb .HIDDEN
{
  visibility: hidden;
  position: absolute;
}

.images-medium-view .thumb-download {
  //height: 64px;
  //width: 64px;

  background-image: url(icons/download-small.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 50%;

  opacity: 0.5;
  //float: right;
}

.images-medium-view .thumb:hover {
  background: #DFEDFF url(over.gif) repeat-x left top;
  border: 0px solid #6593cf;

  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);

  .thumb-download {
    opacity: 1;
  }
}

.images-medium-view .thumb div.true
{
  visibility: hidden;
  position: absolute;
  top: 25px; left: 7px;
  z-index: 7;
}

.images-medium-view .thumb div.false
{
  position: absolute;
  top: 25px; left: 7px;
  z-index: 7;
}

.images-medium-view .thumb .false
{
  color: red;
  font-size: 1.2em;
  font-weight: bolder;
  opacity:0.4;
  -moz-opacity:0.4;
  -khtml-opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.images-medium-view .thumb img{
  float: left;
  width: 98px;
  height: 98px;
  margin-right: 10px;
}

.images-medium-view .x-item-selected {
  background: #DFEDFF;
  border: 0px solid #6593cf;

  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);

  .thumb-wrap {
    padding: 0px;
  }
}

.images-medium-view .x-item-selected .thumb{
  background:transparent;
}

@media screen and (max-width: 1024px) and (orientation: landscape), screen and (max-width: 1024px) and (orientation: portrait) {
  .images-medium-view .thumb-wrap {
    float: none;
    width: 100%;
    padding: 0px;
    margin: 4px;
  }
}

/**
 *
 **/
.images-tile-view {
  background: $main-tile-background;
  //font: 11px Arial, Helvetica, sans-serif;
}

.images-tile-view .thumb{
  background: #dddddd;
  padding: 2px;
  vertical-align: middle;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.x-quirks .images-tile-view .thumb {
  //padding-bottom: 2px;
}

.images-tile-view .thumb div.true
{
  visibility: hidden;
  position: absolute;
  top: 25px; left: 7px;
  z-index: 7;
}

.images-tile-view .thumb div.false
{
  position: absolute;
  top: 25px; left: 7px;
  z-index: 7;
}

.images-tile-view .thumb .false
{
  color: red;
  font-size: 1.2em;
  font-weight: bolder;
  opacity:0.4;
  -moz-opacity:0.4;
  -khtml-opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.images-tile-view .thumb img{
  height: 98px;
  width: 98px;
}

.images-tile-view .thumb-wrap{
  float: left;
  margin: 4px;
  //margin-right: 0px;
  padding: 5px;
}

.images-tile-view .thumb-wrap span {
  display: block;
  overflow: hidden;
  text-align: center;
  margin-top: 5px;
  //width: 70px; /* for ie to ensure that the text is centered */
}

.images-tile-view .x-item-over{
  border: 1px solid #dddddd;
  background: #efefef url(over.gif) repeat-x left top;
  padding: 4px;

  border-radius: 3px;
  //-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  //-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  //box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.images-tile-view .x-item-selected{
  background: #DFEDFF url(selected.gif) no-repeat right bottom;
  border: 1px solid #DFEDFF;
  padding: 4px;

  border-radius: 3px;
  //-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  //-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  //box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.images-tile-view .x-item-selected .thumb{
  background:transparent;
}

.images-tile-view .x-item-selected span {
  color:#1A4D8F;
}

.images-tile-view .x-view-item-focused{
  //background: #DFEDFF url(selected.gif) no-repeat right bottom;
  border: 1px solid #DFEDFF;
  padding: 4px;
}

.images-tile-view .loading-indicator {
  font-size:11px;
  background-image:url('../../resources/themes/images/default/grid/loading.gif');
  background-repeat: no-repeat;
  background-position: left;
  padding-left:20px;
  margin:10px;
}

.x-view-selector {
  position:absolute;
  left:0;
  top:0;
  width:0;
  border:1px dotted;
  opacity: .5;
  -moz-opacity: .5;
  filter:alpha(opacity=50);
  zoom:1;
  background-color:#c3daf9;
  border-color:#3399bb;
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap{
  //position:relative;
  overflow:hidden;
}
.x-editable {
  color: #000;
}
