.custom-row-style
{
  height: 50px;
  vertical-align: middle;
}

.grid-row-accepted
{
  text-decoration: line-through;
  font-weight: bolder;
  color: #4cae4c;
}

.grid-row-pending
{
  font-weight: bolder;
  color: #ff0000;
}
