/**
* Grid classes
*/


.board-grid .topic {
  padding: 14px 0 4px 20px;
}

.board-grid .x-rtl .topic {
  padding: 14px 20px 0 0;
}

.board-grid .topic span {
  font-family: tahoma, verdana;
  display: block;
  color: #333;
}

.board-grid .author {
  padding: 8px 0 0 0;
  color: #333
}

.board-grid .title {
  font-size: 18px;
  color: #333;
}

.board-grid i.hidden {
  display: none;
}

.board-grid .x-grid-row .x-grid-cell {
  cursor: pointer;
}

.board-grid .x-grid-rowbody {
  margin: 5px 20px 10px 25px !important;
  color: #555;
  font-size: 13px;
}

.board-grid .x-rtl .x-grid-rowbody {
  margin: 5px 25px 10px 20px !important;
}