.post-view {

}

.topic-view .post-body-wrap {
  max-width: 1400px;
  margin: auto;
}

.post-view .body {
  border: 1px solid #cfcfcf;
  padding: 30px 0 40px 0;
}

.post-view .body div.content {
  font-size: 14px;
  line-height: 1.5em;
  border-bottom: 1px solid #cfcfcf;
  margin: 36px 20px 20px 44px;
  padding: 0 0 30px 0;
}

.post-view .body .dataview-button {
  float: right;
  margin: 0 6px 0 0;
}

.post-view hr
{
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

/*
.post-view .x-item-over {
  border: 0px solid #6593cf;
  background: #DFEDFF;
  //padding: 3px;
  -moz-border-radius:.2em;
  -webkit-border-radius:.2em;
  border-radius:.2em;
  width: 80%;
}

.post-view .x-item-selected {
  border: 0px solid #6593cf;
  background: #FFEFBB;
  //background: #DFEDFF;
  //padding: 3px;
  -moz-border-radius:.2em;
  -webkit-border-radius:.2em;
  border-radius:.2em;
  width: 80%
}

.post-view .x-item-selected .thumb {
  background: transparent;
}

.post-view .x-item-selected span {
  color: #1A4D8F;
}

.post-view .loading-indicator {
  font-size:11px;
  background-image:url(loading.gif);
  background-repeat: no-repeat;
  background-position: left;
  padding-left:20px;
  margin:10px;
}

*/