.auth-locked-window{
    .x-window-body {
		position: fixed;
		left: 0px;
		top: 0px;
		z-index: -1;
		/* Preserve aspet ratio */
		min-width: 100%;
		min-height: 100%;
  	    background: url('images/lock-screen-background.jpg') no-repeat center center fixed;
		-webkit-background-size: cover; /* For WebKit*/
		-moz-background-size: cover;    /* Mozilla*/
		-o-background-size: cover;      /* Opera*/
		background-size: cover;         /* Generic*/
      	//background-repeat: repeat;

      	/*
		background: url('images/lock-screen-background.svg') no-repeat;
		background-size: cover;
		*/
  	}
      &.x-window-default{
  	    border: none;
  	    border-radius: 0;
  	    padding: 0;
  	}
}
