/**
* Grid classes
*/


.topic {
  padding: 2px 0 0 20px;
  background:transparent url(images/post.gif) no-repeat;
}

.x-rtl .topic {
  padding: 2px 20px 0 0;
  background:transparent url(images/post.gif) no-repeat top right;
}

.topic b {
  font-family: tahoma, verdana;
  display: block;
  color: #333;
}

.author {
  color: #333
}

.date {
  font-weight:bold;
  color:#333;
}

i.hidden {
  display: none;
}

.notice-grid .x-grid-rowbody {
  margin: 5px 20px 10px 25px !important;
  color: #555;
  font-size: 11px;
}

.notice-grid .x-rtl .x-grid-rowbody {
  margin: 5px 25px 10px 20px !important;
}