/* Preview classes */

.post-preview {
  //border-top: 1px solid #a9a9a9 !important;
}

.post-preview .x-panel-body {
  background:#fff;
  color:#222;
  font:normal 12px tahoma,verdana,arial,sans-serif;
}

.post-preview .x-panel-body p {
  line-height:18px;
  margin:8px 0;
}

.post-preview .x-panel-body ul {
  margin-left:18px;
}

.post-preview .x-panel-body ul li {
  display:list-item;
  list-style-image:none !important;
  list-style-position:outside !important;
  list-style-type:disc !important;
  margin-left:18px;
}

.x-rtl .post-preview .x-panel-body ul li {
  margin-left: 0;
  margin-right: 18px;
}

.post-preview .x-panel-body pre, .post-preview .x-panel-body code {
  background:#f1f1f1;
  display:block;
}

.post-preview .x-panel-body div.post-title
{
  font-size: 15px;
  font-weight: bold;
  color: #66ab16;
  padding: 0px 0px 4px 30px;
  background:transparent url(../../../Resources/images/CrystalClear/22x22/actions/news_subscribe.png) no-repeat 0 2px;
}

.post-preview .x-panel-body div.post-author {
  font-weight:lighter;
  color:#555;
  font-size:11px;
  padding-left: 33px;
  margin-bottom: 10px;
}

.post-preview .x-panel-body span.post-date {
  font-weight:normal;
  color:#555;
  float:right;
  font-size:11px;
}

.x-rtl .post-preview .x-panel-body span.post-date {
  float:left;
}

.post-preview .x-panel-body div.post-data {
  background: #f1f2f4;
  padding: 5px;
  border-top: 1px solid #dadadb;
  border-bottom: 1px solid #dadadb;
}

.post-preview .x-panel-body div.post-link {
  background:#f1f2f4;
  padding: 5px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #dadadb;
}

.post-preview .x-panel-body div.post-link i
{
  padding-left: 22px;
}

.post-preview .x-panel-body div.post-link a
{
  padding: 0px 0px 2px 5px;
  text-decoration: none;
}

.post-preview .x-panel-body .false
{
  display: none;
}

.post-preview .x-panel-body div.post-body {
  padding:10px;
}