@include extjs-button-medium-ui(
  $ui: 'round',
  $border-radius: 40,
  $border-width: $button-medium-border-width,
  $border-color: $color-soft-blue,
  $border-color-over: $color-soft-blue,
  $border-color-focus: $color-soft-blue,
  $border-color-pressed: $color-soft-blue,
  $border-color-disabled: $color-soft-blue,
  $padding: $button-medium-padding,
  $text-padding: $button-medium-text-padding,
  $background-color: $lightest-color,
  $background-color-over: $color-soft-blue,
  $background-color-focus: $color-soft-blue,
  $background-color-pressed: $color-soft-blue,
  $background-color-disabled: $button-default-background-color-disabled,
  $background-gradient: $button-default-background-gradient,
  $background-gradient-over: $button-default-background-gradient-over,
  $background-gradient-focus: $button-default-background-gradient-focus,
  $background-gradient-pressed: $button-default-background-gradient-pressed,
  $background-gradient-disabled: $button-default-background-gradient-disabled,
  $color: $color-soft-blue,
  $color-over: $button-default-color-over,
  $color-focus: $button-default-color-focus,
  $color-pressed: $button-default-color-pressed,
  $color-disabled: $button-default-color-disabled,
  $font-size: $button-medium-font-size,
  $font-size-over: $button-medium-font-size-over,
  $font-size-focus: $button-medium-font-size-focus,
  $font-size-pressed: $button-medium-font-size-pressed,
  $font-size-disabled: $button-medium-font-size-disabled,
  $font-weight: $button-medium-font-weight,
  $font-weight-over: $button-medium-font-weight-over,
  $font-weight-focus: $button-medium-font-weight-focus,
  $font-weight-pressed: $button-medium-font-weight-pressed,
  $font-weight-disabled: $button-medium-font-weight-disabled,
  $font-family: $button-medium-font-family,
  $font-family-over: $button-medium-font-family-over,
  $font-family-focus: $button-medium-font-family-focus,
  $font-family-pressed: $button-medium-font-family-pressed,
  $font-family-disabled: $button-medium-font-family-disabled,
  $icon-size: $button-medium-icon-size,
  $glyph-color: $color-soft-blue
);

@include extjs-text-field-ui(
  $ui: 'medium',
  $ui-height: 30,
  $ui-font-size: 15,
  /*
  $ui-font-family: $form-text-field-font-family,
  $ui-font-weight: $form-text-field-font-weight,
  $ui-color: $form-text-field-color,
  $ui-background-color: $form-text-field-background-color,
  $ui-border-width: $form-text-field-border-width,
  $ui-border-style: $form-text-field-border-style,
  $ui-border-color: $form-text-field-border-color,
  $ui-focus-border-color: $form-text-field-focus-border-color,
  $ui-invalid-border-color: $form-text-field-invalid-border-color,
  */
  $ui-border-radius: $form-text-field-border-radius + 30
  /*
  $ui-background-image: $form-text-field-background-image,
  $ui-padding: $form-text-field-padding,
  $ui-empty-color: $form-text-field-empty-color,
  $ui-body-width: $form-text-field-body-width,
  $ui-invalid-background-color: $form-text-field-invalid-background-color,
  $ui-invalid-background-image: $form-text-field-invalid-background-image,
  $ui-invalid-background-repeat: $form-text-field-invalid-background-repeat,
  $ui-invalid-background-position: $form-text-field-invalid-background-position,
  $ui-trigger-width: $form-trigger-width,
  $ui-trigger-border-width: $form-trigger-border-width,
  $ui-trigger-border-color: $form-trigger-border-color,
  $ui-trigger-border-style: $form-trigger-border-style,
  $ui-trigger-border-color-over: null,
  $ui-trigger-border-color-focus: null,
  $ui-trigger-border-color-pressed: null,
  $ui-trigger-background-image: $form-trigger-background-image,
  $ui-trigger-background-color: $form-trigger-background-color,
  $ui-trigger-glyph: $form-trigger-glyph,
  $ui-trigger-glyph-color: $form-trigger-glyph-color,
  $ui-textarea-line-height: $form-textarea-line-height,
  $ui-textarea-body-height: $form-textarea-body-height,
  $ui-file-field-color: $form-file-field-color,
  $ui-classic-border: $form-text-field-classic-border
   */
);

@include extjs-tag-field-ui(
  $ui: 'medium',
  //$ui-padding: $tag-field-padding,
  $ui-item-height: $tag-field-item-height + 4
  /*
  $ui-item-border-radius: $tag-field-item-border-radius,
  $ui-item-color: $tag-field-item-color,
  $ui-item-over-color: $tag-field-item-over-color,
  $ui-item-selected-color: $tag-field-item-selected-color,
  $ui-item-background-color: $tag-field-item-background-color,
  $ui-item-over-background-color: $tag-field-item-over-background-color,
  $ui-item-selected-background-color: $tag-field-item-selected-background-color,
  $ui-item-border-width: $tag-field-item-border-width,
  $ui-item-border-style: $tag-field-item-border-style,
  $ui-item-border-color: $tag-field-item-border-color,
  $ui-item-over-border-color: $tag-field-item-over-border-color,
  $ui-item-selected-border-color: $tag-field-item-selected-border-color,
  $ui-item-padding: $tag-field-item-padding,
  $ui-item-margin: $tag-field-item-margin,
  $ui-item-close-icon-size: $tag-field-item-close-icon-size,
  $ui-item-close-icon-top: $tag-field-item-close-icon-top,
  $ui-item-close-icon-right: $tag-field-item-close-icon-right,
  $ui-item-close-icon-spacing: $tag-field-item-close-icon-spacing,
  $ui-item-close-icon-glyph-color: $tag-field-item-close-icon-glyph-color,
  $ui-item-selected-close-icon-glyph-color: $tag-field-item-selected-close-icon-glyph-color,
  $ui-item-over-close-icon-glyph-color: $tag-field-item-over-close-icon-glyph-color,
  $ui-item-selected-over-close-icon-glyph-color: $tag-field-item-selected-over-close-icon-glyph-color,
  $ui-item-close-icon-glyph: $tag-field-item-close-icon-glyph,
  $ui-item-close-icon-opacity: $tag-field-item-close-icon-opacity,
  $ui-item-close-icon-opacity-over: $tag-field-item-close-icon-opacity-over,
  $ui-item-close-icon-opacity-pressed: $tag-field-item-close-icon-opacity-pressed
  */
);

@include extjs-label-ui(
  $ui: 'medium',
  $ui-font-color: $form-label-font-color,
  $ui-font-weight: $form-label-font-weight,
  $ui-font-size: $form-label-font-size,
  $ui-font-family: $form-label-font-family,
  /*
  $ui-height: $form-field-height,
  $ui-line-height: $form-label-line-height,
  $ui-horizontal-spacing: $form-label-horizontal-spacing,
  $ui-vertical-spacing: $form-label-vertical-spacing,
  $ui-error-icon-background-image: $form-error-icon-background-image,
  $ui-error-icon-width: $form-error-icon-width,
  $ui-error-icon-height: $form-error-icon-height,
  $ui-error-icon-side-margin: $form-error-icon-side-margin,
  $ui-error-under-icon-spacing: $form-error-under-icon-spacing,
  $ui-error-under-padding: $form-error-under-padding,
  $ui-error-msg-color: $form-error-msg-color,
  $ui-error-msg-font-weight: $form-error-msg-font-weight,
  $ui-error-msg-font-size: $form-error-msg-font-size,
  $ui-error-msg-font-family: $form-error-msg-font-family,
  $ui-error-msg-line-height: $form-error-msg-line-height,
   */
  $ui-disabled-opacity: $form-field-disabled-opacity
);