/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$font-family: dynamic("Open Sans");
$enable-font-icons: dynamic(true);

$include-not-found-images: dynamic(true);
